<!-- 头部 start -->
<script src="statics/js/jquery-3.3.1.js"></script>
<script src="statics/js/getParameter.js"></script>
<link href="statics/css/bootstrap.min.css" rel="stylesheet">
<script>

    $(function () {
        $.get("/category/selectAll",{},function (data) {
            var list='<li><a href="index">首页</a></li>';
            for (var i = 0; i < data.length; i++) {
                list+='<li><a href="route_list?cid='+data[i].cid+'">'+data[i].cname+'</a></li>';
            }
            list+='<li><a href="favoriterank">收藏排行榜</a></li>';
            $(".nav").html(list);
        });

        //回显用户名
        $.post("/user/echoName",{},function (data) {
            if (data.flag){
                $(".login_out").css("display","none");
                $(".login").css("display","");
                $("#name").text(data.errorMsg);
            } else {
                $(".login").css("display","none");
                $(".login_out").css("display","");
            }
        },"json");

        $("#search-button").click(function () {
            var rname=$(".search_input").val();
            var paramsurl=getParamsurl();
            var cid=paramsurl.cid;
            location.href="route_list?cid="+cid+"&rname="+rname;
        });
    });

</script>
    <header id="header">
        <meta charset="utf-8">

        <div class="shortcut">
            <!-- 未登录状态  -->
            <div class="login_out">
                <a href="login">登录</a>
                <a href="register">注册</a>
            </div>
            <!-- 登录状态  -->
            <div class="login">
            	
                欢迎您：<span id="name" style="color: red;font-size: 20px;"></span>
                <a href="myfavorite" class="collection">我的收藏</a>
                <a href="/user/logout">退出</a>
            </div>
        </div>
        <div class="header_wrap">
            <div class="topbar">
                <div class="logo">
                    <a href="javascript:void(0)"><img src="statics/images/logo.gif" style="width: 100px;height: 100px;"></a>
                </div>
                <div class="search">
                    <input  type="text" placeholder="请输入路线名称" class="search_input" autocomplete="off">
                    <a href="javascript:void(0);" class="search-button" id="search-button" >搜索</a>
                </div>
                <div class="hottel">
                    <div class="hot_pic">
                        <img src="statics/images/hot_tel.jpg" alt="">
                    </div>
                    <div class="hot_tel">
                        <p class="hot_time">客服热线(9:00-21:00)</p>
                        <p class="hot_num">1008611</p>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- 头部 end -->
     <!-- 首页导航 -->
    <div class="navitem">
        <ul class="nav">

<!--         <li><a href="route_list.html">门票</a></li>
            <li><a href="route_list.html">酒店</a></li>
            <li><a href="route_list.html">香港车票</a></li>
            <li><a href="route_list.html">出境游</a></li>
            <li><a href="route_list.html">国内游</a></li>
            <li><a href="route_list.html">港澳游</a></li>
            <li><a href="route_list.html">抱团定制</a></li>
            <li><a href="route_list.html">全球自由行</a></li>
            <li><a href="favoriterank.html">收藏排行榜</a></li>-->
        </ul>
    </div>
    